html{
    background: url(https://wallpaperplay.com/walls/full/b/a/2/31818.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
body{
    font-family: 'Orbitron', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    align-content: center;
    width: 90%;
    padding: 10px;
} 
input{
    width: 50%;
    padding: 10px 20px;
    margin: 0px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.submit-button {
    width: 45%;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    background-color: slategray;
    text-decoration-color: black;
}